body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Login Container */
.login-container {
  padding: 2rem 2.5rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.login-container label {
  display: block;
  margin: 0.5rem 0 0.25rem;
  font-size: 0.9rem;
}

#email,
#password {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #CBD4C2;
}

/* Form Options */
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-options label {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  margin: 0;
  cursor: pointer;
  font-size: 0.9rem;
}

.form-options a {
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
}

.form-options a:hover {
  text-decoration: underline;
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: #98B9F2;
  cursor: pointer;
}

.login-btn:hover {
  background: #82a2cb;
}

/* Other Login Options */
.other-options {
  text-align: center;
  margin: 0.5rem 0;
}

.other-options p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0.75rem;
  font-size: 0.9rem;
}

.other-options p::before,
.other-options p::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #848383;
}

.other-options p::before {
  margin-right: 10px;
}

.other-options p::after {
  margin-left: 10px;
}

/* Social Buttons Container */
.social-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.social-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background 0.4s;
  cursor: pointer;
}

/* Signup Link */
.signup {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup a {
  color: #000;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}
