body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

 /* landing page styling */
header{
    background-color: #333;
    padding: 10px 30px;
    color: white;
    text-align: center;
    height: max-content;
}
header h1{
  font-size: x-large;
  color: #e0d21f;
}

.nav-container{
    display: flex;
    margin: 0 15px;
    color: #fff;
    gap: 20px;
    justify-content: center;
}
.nav-container a{
  text-decoration: none;
  color: #A9E190;
}
.nav-container a:hover{
  color: #e8b4b8;
}

.hero{
    text-align: center;
    padding: 2rem 1rem;
}

.cta-button{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.cta-button:hover {
  background-color: orange;
}

footer {
  background-color: #579aa8;
  text-align: center;
  padding: 1rem;
}
footer:hover {
  background-color: #abdc23;
}
footer p:hover{
  color: #9715ea;
}
.hero-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 2rem;
}